h1 {
    color:rgb(14, 3, 25);
    text-align: center;
     font-family: cursive;
}
body {
   
    background: linear-gradient(to right , purple, white);
}

button {
    text-align: center;
    background-color: aqua;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-left: 40%;
}
button:hover {
    background-color: blue;
    
}
p {
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
h2 {
     font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
}
